<div class="container-fluid">
    <div class="row" style="background-color:  #F5F5F5;">
        <div class="col-sm-7">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Clients</a>
                <a href="#">Contact</a>
            </div>

            <div id="main">
                <img src="/../assets/logo2.png" height="50px">
                <nav class="navbar navbar-expand-lg navbar-light">

                    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <span style="font-size:25px;cursor:pointer" onclick="openNav()">&#9776; </span>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dropdown
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                        height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"
                                        style="color: rgb(0, 0, 0); margin: 10px;">
                                        <path
                                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                    </svg></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                                        height="20" fill="currentColor" class="bi bi-bag-check"
                                        style="color: rgb(0, 0, 0); margin: 10px;" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                        <path
                                            d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                                    </svg></a>
                            </li>
                            <li>

                            </li>

                        </ul>
                    </div>
                </nav>
                <div class="container" style="margin-top: 70px; ">
                    <div class="container"
                        style="font-family: 'Times New Roman', serif; font-size:60px;font-weight: 10px;">
                        Fresh fragrant<br>
                        Confident
                    </div>
                    <div class="container" style="margin-top: 20px;">
                        Available premium-quality men's and women's <br>perfumes, trusted by well-known brands, with<br>
                        proven quality, refresh your day
                    </div>
                    <div class="container" style="margin-top: 30px;">
                        <button type="submit" class="btn info" name="getProduct">Get The Product</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <img src="/../assets/frontpage.jpg" alt="img" style="height:650px; width: 600px;">
        </div>
    </div>
</div>
<div class="container" style=" font-family: 'Times New Roman', serif; ">
    <div style="font-size:40px;font-weight: 10px; padding: 20px;">Best Seller</div>
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="height:430px;">
                <div class="card-body">
                    <img src="/../assets/bs1.png" height="250px" width="100%" alt="img">
                    <h5 class="card-title" style="font-size: 18px;"> <br>Blue De CHANEL</h5>
                    <p class="card-text">Rs. 5000<br></p>
                    <a href="#" class="btn info">Add to Bag </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="height:430px;">
                <div class="card-body">
                    <img src="/../assets/bs2.png" height="250px" width="100%" alt="img">
                    <h5 class="card-title" style="font-size: 18px;"><br>Bombshell Oud Eau de Parfume </h5>
                    <p class="card-text">Rs. 8999</p>
                    <a href="#" class="btn info">Add to Bag </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="height:430px;">
                <div class="card-body">
                    <img src="/../assets/bd2.png" height="250px" width="100%" alt="img">
                    <h5 class="card-title" style="font-size: 18px;"><br>Chanel Coco Deodorant </h5>
                    <p class="card-text">Rs. 3200</p>
                    <a href="#" class="btn info">Add to Bag </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="height:430px;">
                <div class="card-body">
                    <img src="/../assets/bs4.png" height="250px" width="100%" alt="img">
                    <h5 class="card-title" style="font-size: 18px;"><br>Louis Vuitton IMAGINATION </h5>
                    <p class="card-text">Rs. 21601</p>
                    <a href="#" class="btn info">Add to Bag </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="font-family: 'Times New Roman', serif;margin-top: 150px;">
        <div class="col-sm-7">
            <div style="font-size: 35px;">FREE GIFT WRAP </div>
            <div style="font-size: 18px;"><br>
                Is it a gift? No problem!<br><br>
                If you need your perfume to be gift-wrapped, just leave us a note in your order & your smile is on
                us.<br><br>
                Add some text and we will send it across with your perfume. Now gifting a friend or family is just a
                click away.
            </div>
        </div>
        <div class="col-sm-3"><br>
            <img src="/../assets/gift1.png" height="400px" width="450px" alt="img">
        </div>
    </div>
    <div class="row" style="margin-bottom: 100px;">
        <div class="col-md-6"><br><br><br><br>
            <img src="/../assets/capture.jpg " height="400px" width="600px" alt="img">
        </div>
        <div class="col-md-5" style="text-align: center; margin-top: 150px; ">
            <div style="font-size: 30px;">BEST WAY TO WEAR A PERFUME?</div>
            <br><br>Never apply your perfume directly on our clothes as it might leave a stain. Instead wrap your pulse
            points with it.<br><br>
            Be it your neck, shoulder, wrist & inner elbow, mid riff, Perfume tends to radiate more if you apply at
            these warm places. In addition, women can also apply the perfume just below your mid riff, behind the knee,
            calves & ankles.
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row" style="background-color: rgb(37, 36, 36); height: 100px;">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4" >

        </div>
    </div>
</div>